@import "mixins";
main {
  .container {
    .main-row {
      @include make-row();
      @import "sidebar";
      section.content {
        @include make-xs-column(12);
        @include make-sm-column(9);
        background: white;
        padding: 4rem;
        h1 {
          margin: 0 0 2rem;
          font-size: 3.6rem;
        }
        p {
          margin: 0 0 2rem;
        }
        img.post-image {
          margin: 0 0 2rem;
          width: 100%;
        }
      }
    }
  }
}
