aside.sidebar {
  @include make-sm-column(3);
  background:$clouds;
  padding: 4rem;
  .sidebar-search {

  }
  ul.sidebar-categories {
    margin: 2rem 0;
    padding: 0 0 1rem;
    list-style: none;
    border: 1px solid $turquoise;
    border-width: 1px 0 1px;
    li {
      padding: 1rem 0 1rem;
      border-bottom: 1px solid $turquoise;
      text-transform: uppercase;
      &:last-child {
        padding: 1rem 0 0;
        border: none;
      }
    }
  }
  ul.sidebar-azlinks {
    margin: 2rem 0;
    padding: 0 0 1rem;
    list-style: none;
    span.sidebar-azlinks-title {
      font-weight: bold;
      text-transform: uppercase;
    }
    li.sidebar-azlinks-link {
      padding: .5rem 0 .5rem;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    ul.sidebar-azsubmenu {
      margin: 0;
      padding: 0 0 1rem 1rem;
      list-style: none;
      font-size: $font-size-small;
      font-weight: 500;
      display: none;
      &:first-of-type {
        display: block;
      }
      li.sidebar-azsubmenu-link {
        padding: .5rem 0 .5rem;
        text-transform: uppercase;
      }
    }
  }
}
